.container {
  width: 100%;
  min-height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  background: hsl(210, 65%, 40%);
  color: white;

  &.is-unfinished,
  &.is-adjacent-after {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-adjacent-before {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.name {
  height: 20px;
  display: inline-block;
  margin: 3px;
  padding: 2px 4px;
  font-weight: 500;

  &:focus {
    outline: none;
    border-radius: 3px;
    background: hsla(0, 0%, 100%, 0.5);
  }
}

.start, .finish {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  font-size: 12px;
  line-height: 12px;
  color: hsl(0, 0%, 60%);
}

.start {
  top: 0;
}

.finish {
  bottom: 0;
}

.duration {
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 12px;
  color: hsla(0, 0%, 0%, 0.5);
}

.icon, .destroy {
  composes: icon from 'sch/styles/icons';
}

.destroy {
  display: none;
  padding: 0 6px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  &:hover {
    color: hsla(0, 0%, 0%, 0.75);
  }
}

.actions {
  width: 100%;
  position: absolute;
  top: 100%;
}
