.container {
  position: absolute;
  left: 60px;
  right: 40px;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 5px;
  background: hsl(210, 60%, 90%);
  overflow: hidden;

  &:hover {
    z-index: 2;
  }

  &:hover {
    min-height: 30px;
  }

  &.is-adjacent-after {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.is-adjacent-before {
    border-top: 1px solid white;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.project {
  height: 20px;
  margin: 5px 7px;
  font-weight: 500;
}

.start, .finish {
  position: absolute;
  left: 100%;
  margin-left: 5px;
}

.start {
  top: 0;

  .container.is-adjacent-before & {
    top: -6px;
  }
}

.finish {
  bottom: 0;

  .container.is-adjacent-after & {
    display: none;
  }
}

.time {
  composes: time from 'sch/styles/time';
}

.duration {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 12px;
  color: hsla(0, 0%, 0%, 0.5);
}

.icon, .destroy {
  composes: icon from 'sch/styles/icons';
}

.destroy {
  padding: 0 6px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;

  &:hover {
    color: hsla(0, 0%, 0%, 0.75);
  }
}

.start-handle,
.finish-handle {
  width: 100%;
  height: 6px;
  position: absolute;
}

.start-handle {
  top: -3px;
}

.finish-handle {
  bottom: -3px;
}
