.tasks-timeline {
  width: 300px;
  height: 8000px;
  box-sizing: border-box;
  position: relative;
}

.actions {
  width: 100%;
  position: absolute;
  left: 60px;
  display: flex;
  margin-top: 10px;
}

.action {
}
