.container {
  composes: blue-button from 'sch/styles/buttons';

  &.is-open {
    border-bottom-left-radius: 0;
  }
}

.label {
  composes: label from 'sch/styles/buttons';
}

.icon {
  composes: icon from 'sch/styles/buttons';
  composes: icon from 'sch/styles/icons';
}

.shortcut {
  composes: right from 'sch/styles/buttons';
}

.input {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  border: 0;
  padding: 5px 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border-top-left-radius: 0;
  font-size: inherit;
  outline: none;
}
