.button {
  box-sizing: border-box;
  padding: 2px 10px 7px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.green-button,
.red-button {
  composes: button;
}

.green-button {
  background: hsl(50, 65%, 45%);

  &:hover {
    background: hsl(50, 60%, 50%);
  }

  &:active {
    background: hsl(50, 70%, 40%);
  }
}

.red-button {
  background: hsl(10, 70%, 55%);

  &:hover {
    background: hsl(10, 75%, 60%);
  }

  &:active {
    background: hsl(10, 70%, 50%);
  }
}
