.button {
  composes: red-button from 'sch/styles/buttons';
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.label {
  composes: label from 'sch/styles/buttons';
}

.icon {
  composes: icon from 'sch/styles/icons';
  composes: icon from 'sch/styles/buttons';
}

.right {
  composes: right from 'sch/styles/buttons';
}
