{{#each projects as |project index|}}
  <div local-class="name" {{action select project}}>
    {{project.name}}
    <!-- {{keyboard-shortcut shortcut=(add index 1) label=(add index 1) action=(action select project)}} -->
  </div>
  {{task-project-tree projects=project.children select=select}}
{{/each}}
