.container {
  composes: green-button from 'sch/styles/buttons';
  width: 150px;
}

.time {
  composes: addon from 'sch/styles/buttons';
  width: 50px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.label {
  composes: label from 'sch/styles/buttons';
}

.shortcut {
  composes: right from 'sch/styles/buttons';
}
